{% extends "RecetasApp/base.html" %}
{% load static %}
{% block content %}

<div class="clearfix"></div>
<section id="contenido">
    
    <div class="caja">
        <h2>Levadura Seca</h2>
    </div>

    
</section>

<aside id="lateral">
    <div class="clearfix"></div>
    <div class="caja">
        <h2>Como calcular de gramos a tazas</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non, deleniti quod ullam voluptatum
            molestiae quia voluptatibus nobis quis accusamus ducimus architecto libero maiores ipsam quasi illo
            ab pariatur corporis autem!
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non, deleniti quod ullam voluptatum
            molestiae quia voluptatibus nobis quis accusamus ducimus architecto libero maiores ipsam quasi illo
            ab pariatur corporis autem!
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non, deleniti quod ullam voluptatum
            molestiae quia voluptatibus nobis quis accusamus ducimus architecto libero maiores ipsam quasi illo
            ab pariatur corporis autem!
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non, deleniti quod ullam voluptatum
            molestiae quia voluptatibus nobis quis accusamus ducimus architecto libero maiores ipsam quasi illo
            ab pariatur corporis autem!
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non, deleniti quod ullam voluptatum
            molestiae quia voluptatibus nobis quis accusamus ducimus architecto libero maiores ipsam quasi illo
            ab pariatur corporis autem!
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non, deleniti quod ullam voluptatum
            molestiae quia voluptatibus nobis quis accusamus ducimus architecto libero maiores ipsam quasi illo
            ab pariatur corporis autem
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non, deleniti quod ullam voluptatum
            molestiae quia voluptatibus nobis qus accusamus ducimus architecto libero maiores ipsam quasi illo
            ab pariatur corporis autem!
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non, deleniti quod ullam voluptatum
            molestiae quia voluptatibus nobis quis accusamus ducimus architecto libero maiores ipsam quasi illo
            ab pariatur corporis autem!
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non, deleniti quod ullam voluptatum
            molestiae quia voluptatibus nobis quis accusamus ducimus architecto libero maiores ipsam quasi illo
            ab pariatur corporis autem!</p>
    </div>
</aside>
<div class="clearfix"></div>
{% endblock %}